<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AYWEvents</title>
    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" /> -->

    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
    <script src="https://kit.fontawesome.com/742274a2a2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css">
    <link href="https://fonts.googleapis.com/css?family=Cormorant|Montserrat&display=swap" rel="stylesheet">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm shadow navbar-toggleable-sm navbar-light bg-white " style="z-index:10">
            <div class="container">
                <a class="navbar-brand primary-text" asp-area="" asp-controller="Home" asp-action="Index">AYWEvents</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse justify-content-end collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Service">Services</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                    asp-action="Portfolio">Portfolio</a>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link primary-bg text-white" style="border-radius: 8px" asp-area="" asp-controller="Home"
                                asp-action="Contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid m-0 p-0 ">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top alternate-text primary-bg py-4  footer ">
        <div class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h3>About us</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s. </p>
                </div>
                <div class="col-lg-4">
                    <h3>Contact</h3>
                    <p>Richard Rorque</p>
                    <p>(993) 888-8888</p>
                    <p>AWYEvents@gmail.com</p>
                </div>
                <div class="col-lg-4">
                    <h3>Follow us on social</h3>
                    <div class="row">
                        <div class="col-lg-2">
                         <a href="https://www.facebook.com/aywevents.tx/" class="secondary-text"><i class="fab fa-facebook display-4"></i> </a> 
                        </div>
                        <div class="col-lg-2">
                               <a href="https://www.instagram.com/aywevents.tx/" class="secondary-text"> <i class="fab fa-instagram display-4"></i>  </a>
                                
                               </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="container">
            &copy; 2019 - aywevents - <a class="secondary-text" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!-- <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> 
    @RenderSection("Scripts", required: false) -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
            AOS.init();
          </script>
</body>

</html>