@{
ViewData["title"] = "Portfolio";
}

<section class="py-5 ">

        <div class="container py-5">

                <section class="text-center primary-text">
                        <h2 class="display-3">Portfolio</h2>
                        <hr />
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos repellat, sunt
                                minima dolorum aspernatur modi rerum autem ullam, corporis nobis dolore culpa et
                                voluptates expedita dicta, praesentium repellendus blanditiis vero.</p>
                </section>


                <section id="portfolio" <div class="row">
                        <div class="col-lg-6">
                                <a asp-controller="Home" asp-action="PortfolioDetails" >
                                        <img src="~/images/baby-shower-birthday-buffet-587741.jpg"
                                                class="img-fluid mb-4 portfolio-img" alt="">
                                        <p  class="portfolio-img-text">Text</p>
                                </a>
                        </div>
                        <div class="col-lg-6">
                                <a asp-controller="Home" asp-action="PortfolioDetails"><img src="~/images/bar-bottles-catering-1243337.jpg"
                                                class="img-fluid mb-4 portfolio-img" alt="">
                                        <p class="portfolio-img-text">Text</p>
                                </a>
                        </div>
                        <div class="col-lg-6">
                                <a asp-controller="Home" asp-action="PortfolioDetails"><img src="~/images/beautiful-flowers-colorful-cutlery-2253831.jpg"
                                                class="img-fluid mb-4 portfolio-img" alt="">
                                        <p class="portfolio-img-text">Text</p>
                                </a>
                        </div>
                        <div class="col-lg-6">
                                <a asp-controller="Home" asp-action="PortfolioDetails"> <img src="~/images/bar-bottles-catering-1243337.jpg"
                                                class="img-fluid mb-4 portfolio-img" alt="">
                                        <p class="portfolio-img-text">Text</p>
                                </a>

                        </div>
                        <div class="col-lg-6">
                                <a asp-controller="Home" asp-action="PortfolioDetails"> <img src="~/images/beautiful-flowers-colorful-cutlery-2253831.jpg"
                                                class="img-fluid mb-4 portfolio-img" alt="">
                                        <p class="portfolio-img-text">Text</p>
                                </a>
                        </div>
                        <div class="col-lg-6">
                                <a asp-="Home" asp-action="PortfolioDetails"> <img src="~/images/baby-shower-birthday-buffet-587741.jpg"
                                                class="img-fluid mb-4 portfolio-img" alt="">
                                        <p class="portfolio-img-text">Text</p>
                                </a>
                        </div>
                        <div class="col-lg-6">
                                <a asp-controller="Home" asp-action="PortfolioDetails"> <img src="~/images/beautiful-flowers-colorful-cutlery-2253831.jpg"
                                                class="img-fluid mb-4 portfolio-img" alt="">
                                        <p class="portfolio-img-text">Text</p>
                                </a>

                        </div>
                        <div class="col-lg-6">
                                <a asp-controller="Home" asp-action="PortfolioDetails"> <img src="~/images/baby-shower-birthday-buffet-587741.jpg"
                                                class="img-fluid mb-4 portfolio-img" alt="">
                                        <p class="portfolio-img-text">Text</p>
                                </a>
                        </div>
                        <div class="col-lg-6">
                                <a asp-controller="Home" asp-action="PortfolioDetails"> <img src="~/images/bar-bottles-catering-1243337.jpg"
                                                class="img-fluid mb-4 portfolio-img" alt="">
                                        <p class="portfolio-img-text">Text</p>
                                </a>
                        </div>
        </div>



        </div>
</section>
</section>