@{
    ViewData["title"] = "Portfolio";
}

<section class="py-5 alternate-bg">

    <div class="container py-5">
        
    <section>
        <h2 class="display-2">Portfolio</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos repellat, sunt minima dolorum aspernatur modi rerum autem ullam, corporis nobis dolore culpa et voluptates expedita dicta, praesentium repellendus blanditiis vero.</p>
    </section>


    <section>
        <div class="row">
            <div class="col-lg-4">
               <a href="#"> <img src="~/images/baby-shower-birthday-buffet-587741.jpg" class="img-fluid mb-4 " alt=""></a>
            </div>
            <div class="col-lg-4">
                    <a href="#"><img src="~/images/bar-bottles-catering-1243337.jpg" class="img-fluid mb-4" alt=""></a>
            </div>
            <div class="col-lg-4">
                    <a href="#"><img src="~/images/beautiful-flowers-colorful-cutlery-2253831.jpg" class="img-fluid mb-4" alt=""></a>
            </div>
            <div class="col-lg-4">
                    <a href="#"> <img src="~/images/bar-bottles-catering-1243337.jpg" class="img-fluid mb-4" alt=""></a>

            </div>
            <div class="col-lg-4">
                    <a href="#">  <img src="~/images/beautiful-flowers-colorful-cutlery-2253831.jpg" class="img-fluid mb-4" alt=""></a>
            </div>
            <div class="col-lg-4">
                    <a href="#">  <img src="~/images/baby-shower-birthday-buffet-587741.jpg" class="img-fluid mb-4" alt=""></a>
            </div>
            <div class="col-lg-4">
                    <a href="#">  <img src="~/images/beautiful-flowers-colorful-cutlery-2253831.jpg" class="img-fluid mb-4" alt=""></a>

            </div>
            <div class="col-lg-4">
                    <a href="#"> <img src="~/images/baby-shower-birthday-buffet-587741.jpg" class="img-fluid mb-4" alt=""></a>
            </div>
            <div class="col-lg-4">
                    <a href="#"> <img src="~/images/bar-bottles-catering-1243337.jpg" class="img-fluid mb-4" alt=""></a>
            </div>
        </div>

    </div>
    </section>
</section>