@{
ViewData["title"] = "Service Page";
}

<section class="">

  <div class=" ">

    <section class="container text-center">
      <h2 class="display-3">Services</h2>
      <hr />
      <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo tempore eum corporis beatae,
        non itaque, est ex perspiciatis eius consequatur minima recusandae a sequi autem vel quidem officiis inventore
        ullam!</p>
    </section>

    <section class="container">
      <div class="row " >
        <div class="col-lg-6 mb-4">
          <div id="accordion">
            <div class="card mb-3">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link primary-text" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <i class="fas fa-utensils"></i> Catering
                  </button>
                </h5>
              </div>

              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                  shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                  proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                  aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link primary-text collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    <i class="fas fa-camera"></i> Photography
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                  shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                  proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                  aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link primary-text collapsed" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="fas fa-video"></i> Videography
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                  shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                  proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                  aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card mb-3">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link primary-text collapsed" data-toggle="collapse"
                      data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <i class="fas fa-glass-martini-alt"></i>Bartending
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
                  <div class="card mb-3">
                      <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                          <button class="btn btn-link primary-text collapsed" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <i class="fas fa-chalkboard-teacher"></i>Event/Party Consultation
                          </button>
                        </h5>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                          moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                          shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                          proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                          aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                      </div>
                    </div>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="~/images/baby-shower-birthday-buffet-587741.jpg" class="img-fluid" alt="">
        </div>
      </div>
  </div>
</section>

<section class=" alternate-bg p-5">
  <div class="container">
    
<div class="row">
  <div class="col-lg-3">
    <div class="card p-4">
      <div class="card-body text-center">
        <h1 class="card-title" > <i class="fas fa-glass-cheers" style="font-size: 60px"></i> </h1>
        <h4 class="card-text">Weddings</h4>
        <button class="btn btn-primary">Learn more</button>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
      <div class="card p-4">
          <div class="card-body text-center">
            <h1 class="card-title" > <i class="fab fa-accusoft" style="font-size: 60px"></i> </h1>
            <h4 class="card-text">Private Events</h4>
            <button class="btn btn-primary">Learn more</button>
          </div>
        </div>
  </div>
  <div class="col-lg-3">
      <div class="card p-4">
          <div class="card-body text-center">
            <h1 class="card-title" > <i class="fas fa-birthday-cake" style="font-size: 60px"></i> </h1>
            <h4 class="card-text">Birthday's</h4>
            <button class="btn btn-primary">Learn more</button>
          </div>
        </div>
  </div>
  <div class="col-lg-3">
      <div class="card p-4">
          <div class="card-body text-center">
            <h1 class="card-title" > <i class="fas fa-gift" style="font-size: 60px"></i> </h1>
            <h4 class="card-text">Commercial</h4>
            <button class="btn btn-primary">Learn more</button>
          </div>
        </div>
  </div>
</div>

</div>
</section>
</div>

</section>